/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set the background color and font */
body {
  background-color: #1c1f24;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
}

/* Center header text and add some space */
header {
  text-align: left;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  z-index: 2;
}

/* Add space to footer */
footer {
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

/* Center toolbar buttons */
.toolbar-container {
  text-align: left;
  padding: 10px;
  margin: 5px;
  position: relative;
  z-index: 10;
}

.button {
  font-size: 20px;
  padding: 10px 20px;
  /* Add more styling if needed */
}

/* Center canvas */
.canvas-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  position: relative;
  z-index: 0;
}

/* Set canvas size */
.canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* Add pink outline to gridCanvas */
#gridCanvas {
  
  opacity: 0.7;
}

/* Add white outline to paintCanvas */
#paintCanvas {
  
  opacity: 1;
}

/* Style for the sidebar */
.container {
  display: flex;
  height: 100vh;
  overflow: hidden; /* Prevent sidebar content from overflowing */
}

.sidebar {
  flex: 0 0 300px; /* Sidebar width */
  background-color: #333;
  color: white;
  padding: 20px;
  box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 2; /* Place sidebar above other elements */
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #2c2f34;
}

/* Form styling */
form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: teal;
}
