/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set the background color and font */
body {
  background-color: black;
  font-family: Helvetica, Arial, sans-serif;
  color: lime;
  overflow: hidden;
  /*background-image: url('https://i.pinimg.com/originals/44/e4/63/44e4636259fc47f65feb95c70e22c925.jpg');
  background-size: cover;*/
}

.title-container{
  width: 15%;
  text-align: left;
  padding: 20px;
  font-size: 24px;
  -webkit-text-stroke: 1px black; 
  font-weight: bold;
  position: fixed;
  z-index: 6;} 

  

.toolbar {  
/* New, Save, etc. */
  position: fixed;
  top: 5%;
  right: 5%;
  text-align: left;  
  margin: 5px;
 /* border: 5px solid lime; */
  z-index: 7;}
  
.button {
  font-size: 20px;
  padding: 10px 20px;}

.paint-button {
  border: 5px solid lime;}

/* Form styling */
form {
  margin-top: 20px;
  
}

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set the background color and font */
body {
  background-color: black;
  font-family: Helvetica, Arial, sans-serif;
}

.textbox-container {
  position: fixed;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  z-index: 6;
 
}

form-name {
  
  background-color: black;
  border: 5px solid lime;
  color: orange;
  padding: 5px;
  resize: none;
  outline: none;
  font-size: 20px;

}

textarea {
  width: 100%;  
  background-color: black;
  border: 5px solid lime;
  color: orange;
  padding: 10px;
  resize: none;
  outline: none;
  font-size: 20px;
}


label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: black;
  color: hotpink;
  border: 5px solid hotpink;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  color: lime;
  border: 5px solid lime;
}

  .color-palette {
    
    position: fixed;
    top: 50%; /* Vertically center the palette */
    right: 5%; /* 5% from the right side of the screen */
    transform: translateY(-50%); /* Adjust for vertical centering */
   
    flex-wrap: wrap;
    flex-direction: row; /* Optional, as 'row' is the default value */
    justify-content: flex-start; /* Start the colors from the left */
    justify-content: center; /* Center-align the color divs horizontally */
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 columns */
    border: 5px solid lime;
    opacity: 1;    
    z-index: 6;
  }
  

.color {  
  width: 60px;
  height: 60px;
  cursor: pointer;
  border: 3px solid black;
}

.canvas-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid black;
 
}

.canvas {
    
  z-index: 0;
  border: 5px solid lime;
  opacity: 1;
  cursor: grab;
}

footer {
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
}